<!DOCTYPE html>
<html>


	<head>
	
		<meta charset="UTF-8">
		<title>Home</title>
	
	</head>
	
	<body>
	
		<h3 style="text-align:center" >Welcome!</h3>
	
			<form action="/player" method="post">
	
				<p>username:</p>
					<input type="text" name="username"  >
			
						<br>
						<br>
			
				<p>password:</p>
					<input type="text" name="password">
						<br>
						<br>
			 				<input type="submit" formaction="/admin" value="Submit as Admin">
						<br>
						<br>
							<input type="submit" value="Submit as Player">
	
		</form>
	
	
	</body>

</html>