<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Password has been changed</title>
	<link rel="stylesheet" href="/css/squash_style.css" >
	<link href="https://fonts.googleapis.com/css2?family=Syne&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
</head>
	
<body>
	<div class="head">
		<form action="/" method="get">
		   <button><span class="material-icons">cancel</span></button>
		</form>
	</div>
	<h4 class="confirm"> Your password has been changed!</h4>
</body>
	
</html>