<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Selected Player</title>
		
		<style>
		table, th, td {
		border: 2px solid black;
		border-collapse:collapse;
		}
		
		</style>
		
	</head>
	
	<body>
			<table>
			
				<th>Player 1:</th>
				<th>Player 2:</th>
				<th>Location:</th>
				<th>Date</th>
				<th>Result</th>
				<th>Winner</th>
				
					<tr th:each="contests:${contestsList}" >
					
						<td th:text="${contests.player_1.username}" ></td>
						<td th:text="${contests.player_2.username}" ></td>
						<td th:text="${contests.location_id.name}" ></td>
						<td th:text="${contests.date}" ></td>
						<td th:text="${contests.result}" ></td>
						<td th:text="${contests.winner.username}" ></td>
					
					</tr>
		
			</table>
			
			
			<br>
			<br>
	
			<form action="/player" method="post">
		   	 
		   	 	<button>Go back</button>
	    
			</form>
			
				<form action="/" method="get">
		   	 	
		    	<button>Exit</button>
		    
			</form>

	</body>
	
	
</html>