<!DOCTYPE html>
<html>
	<head>
	<meta charset="UTF-8">
	<title>Selected Location</title>
	
	<style>
		table, th, td {
		border: 2px solid black;
		border-collapse:collapse;
		}
		
		</style>
	
	</head>

	
	<body>
	
		<p>The data of the selected location: </p>
	
		<table>
	
			<th>Name of the location</th>
			<th>The address of the location</th>
			<th>Sum of the rent (HUF)</th>
			<th>Sum of the rent (EUR)</th>
		
			<tr>
		
				<td th:text="${local.name}" ></td>
				<td th:text="${local.address}" ></td>
				<td th:text="${local.rent}" ></td>
				<td th:text="${EUR}" ></td>
				
		
			</tr>
		
		</table>
		
		<br>
		<br>
		
		<p>The contests of the selected location: </p>

		<table>
			
				<th>Player 1:</th>
				<th>Player 2:</th>
				<th>Location:</th>
				<th>Date</th>
				<th>Result</th>
				<th>Winner</th>
				
				<tr th:each="contests:${contestsList}" >
				
					<td th:text="${contests.player_1.username}" ></td>
					<td th:text="${contests.player_2.username}" ></td>
					<td th:text="${contests.location_id.name}" ></td>
					<td th:text="${contests.date}" ></td>
					<td th:text="${contests.result}" ></td>
					<td th:text="${contests.winner.username}" ></td>
				
				</tr>
		
		</table>
		
		<br>
		<br>
	
			<form action="/player" method="post">
		   	 	<input type="hidden" name="username" th:value="${name}"/>
		   		<input type="hidden" name="password" th:value="${pass}"/>
		   	 <button>Go back</button>
	    
			</form>
			
			
		<br>
		<br>
			
			<form action="/" method="get">
		   	 	
		    <button>Exit</button>
		    
			</form>
	
	
	</body>
	
	
</html>